<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RVHttp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>All in RVHttpTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>-[RVFakeHttpTest test_can_stub_all_requests].xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>-[RVFakeHttpTest test_can_stub_for_specific_request].xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>-[RVFakeHttpTest test_can_stub_for_all_requests].xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>All in RVFakeHttpTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false />
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76644FEC1F0252EF00AA5E6C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>766450051F0252EF00AA5E6C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
